In [1]:
import pandas as pd
import pyodbc
import pandasql as ps
import numpy as np

In [106]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=dbssql3;'
#                       'Database=LIBE48;'
                      'Trusted_Connection=yes;')
cursor=conn.cursor()

In [107]:
df = pd.read_csv('I:/LKE/CUNO1_to_EL2_LookUp.csv', encoding='UTF-8')
#df=df.replace(np.nan, '')
df.CODA_EL2 = df.CODA_EL2.replace(np.nan, 0).astype(int)
df.Rental_Code = df.Rental_Code.replace(np.nan, "NULL")
df.Group = df.Group.replace(np.nan, "NULL")
df.DBS_Inventory_Customer = df.DBS_Inventory_Customer.replace(np.nan, "NULL")

In [91]:
cursor.execute("DROP TABLE Accounting_Analysts.dbo.CODA_DBS_Lookup_test")
conn.commit()
cursor.close()

ProgrammingError: Attempt to use a closed cursor.

In [42]:
cursor.execute("""CREATE TABLE Accounting_Analysts.dbo.CODA_DBS_Lookup_test (CODA_EL INT, Rental_Code VARCHAR(70), [GROUP] VARCHAR(70), DBS_Inventory_Customer VARCHAR(70))""")
conn.commit()
cursor.close()

In [121]:
# cursor.execute("INSERT INTO Accounting_Analysts.dbo.CODA_DBS_Lookup_test values (12345, {}, 'ggg', 'fff')".format(None))


value = None
cursor.execute("""INSERT INTO Accounting_Analysts.dbo.CODA_DBS_Lookup_test (Rental_Code) VALUES ({})""".format("NULL"))
conn.commit()
cursor.close()

In [134]:

"""INSERT INTO Accounting_Analysts.dbo.CODA_DBS_Lookup_test VALUES (12345, 'test', {}, {})""".replace('{}', "'{}'", 1)#.format("NULL")
# """INSERT INTO Accounting_Analysts.dbo.CODA_DBS_Lookup_test values (%s, %s, '%s', %s)""" % (c1,c2,c3,c4)

"INSERT INTO Accounting_Analysts.dbo.CODA_DBS_Lookup_test VALUES (12345, 'test', '{}', {})"

In [150]:
def replacenth(instring,pattern,replacement,n=[1]):
    """

    Replace specified instance(s) of pattern in string.

      Positional arguments
        instring - input string
         pattern - regular expression pattern to search for
     replacement - replacement

      Keyword arguments
               n - list of instances requested to be replaced [default [1]]

    """

    import re
    outstring=''
    i=0
    for j,m in enumerate(re.finditer(pattern,instring)):
        if j+1 in n: outstring+=instring[i:m.start()]+replacement
        else: outstring+=instring[i:m.end()]
        i=m.end()
    outstring+=instring[i:]
    return outstring
    
    
string = """INSERT INTO Accounting_Analysts.dbo.CODA_DBS_Lookup_test VALUES (12345, 'test', {}, {})"""    
replacenth(string, '{}', "'{}'", [1])

"INSERT INTO Accounting_Analysts.dbo.CODA_DBS_Lookup_test VALUES (12345, 'test', '{}', {})"

In [162]:
for a in re.finditer('{}', 's{}'):
    print(a.start())
    print(a.end())

1
3

In [105]:
list(df.iloc[i].values)

[13010, 'NULL', 'NULL', 'I13010A']

In [112]:
for i in range(len(df)):
    c1 = tuple(df.iloc[i].values)[0]
    c2 = tuple(df.iloc[i].values)[1]
    c3 = tuple(df.iloc[i].values)[2]
    c4 = tuple(df.iloc[i].values)[3]
    cursor.execute("""INSERT INTO Accounting_Analysts.dbo.CODA_DBS_Lookup_test ('') values ({}, {}, {}, {})""".format(c1,c2,c3,c4))
conn.commit()
cursor.close()

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Incorrect syntax near 'Rental'. (102) (SQLExecDirectW)")

In [113]:
c3

'PSD Rental'